*.csv filter=lfs diff=lfs merge=lfs -text
data/hotels_usa.csv filter=lfs diff=lfs merge=lfs -text
data/flight_data_usa.csv filter=lfs diff=lfs merge=lfs -text
data/vacation_data.db filter=lfs diff=lfs merge=lfs -text
data/hotels.csv filter=lfs diff=lfs merge=lfs -text

* text=auto

# Treat Tableau and HTML as binary
*.twb binary
*.twbx binary
*.html binary

